server:
  port: 8081

spring:
  application:
    name: content-ingestion

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always 